select{
    width: 500px;
}
input{
    width: 500px;
}
div {
    text-align: right;
   
}

.border {
    border-radius: 5px;
    align-content: center;
    padding: 15px;
    max-width: 650px;
    margin-bottom: 30px;
}

form {
    width: 100%;
}
#b{
    width: 200px;
}

.message{
    margin-top: 10px;
    margin-bottom: 10px !important;
 
 }