


<body>
  <!-- <ul>
    <img src="assets/img/logo.jpg">
    <li class="dropdown">
      <button class="dropbtn"><span class="glyphicon glyphicon-equalizer"></span>מוצא אבדה</button>
      <div class="dropdown-content">
        <a routerLink="found">כניסה</a>
        <a routerLink="find">הרשמה</a>
      </div>
    </li>
    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <li class="dropdown">
      <button class="dropbtn"><span class="glyphicon glyphicon-equalizer"></span>מחפש אבדה</button>
      <div class="dropdown-content">
        <a routerLink="losty">כניסה</a>
        <a routerLink="lose">הרשמה</a>
      </div>
    </li>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <li class="dropdown">
      <button class="dropbtn"><span class="glyphicon glyphicon-equalizer"><i class="fa fa-fw fa-search"></i></span>חיפוש</button>
        <div class="dropdown-content">
            <a routerLink="map">חיפוש במפת האבדות</a>
            <a routerLink="search">חיפוש עפ"י סימנים</a>
          </div>
    </li>
    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <li class="dropdown">
      <button class="dropbtn" routerLink="personal-area">לאזור האישי</button>
    </li>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </ul>  -->
  <app-home></app-home>
  <router-outlet></router-outlet>
</body>


