<br><br><br><br>
<body>
    <div class="formBorder">
        <label for="pid">:תעודת זהות</label>
        <input id="pid" type="password" name="pid" class="form-control" required minlength="9" maxlength="9" placeholder="תעודת זהות"
            [(ngModel)]="userID" #pid="ngModel">
        <div *ngIf="pid.invalid && (pid.dirty || pid.touched)" class="alert alert-danger">
            <div *ngIf="pid.errors.required">תעודת זהות חובה</div>
            <div *ngIf="pid.errors.minlength">מספר זהות חייב להכיל 9 ספרות</div>
            <div *ngIf="pid.errors.maxlength">מספר זהות חייב להכיל 9 ספרות</div>
        </div>
        <br><br>
        <button (click)="MyArea()">כניסה לאזור האישי</button>

        <div [hidden]="showArea">
            <button class="btn btn-link" (click)="ShowFounds()">מצאתי</button>
            <button class="btn btn-link" (click)="ShowLosses()">נאבד לי</button>
            <button class="btn btn-link" (click)="ShowEdit()">עריכת פרטים</button>
            <!-- <a routerLink="personal-found">מצאתי</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <!-- <a routerLink="personal-loss">נאבד לי</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <!-- <a routerLink="edit">עריכת פרטים</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <app-personal-found [hidden] = "foundHidden" [FOUNDS] = "founds"></app-personal-found>
            <app-personal-loss [hidden] = "lossHidden" [LOSSES] = "losses"></app-personal-loss>
            <app-edit [hidden] = "editHidden" [FIND] = "find" [PERSON] = "person" [enable] = "enable"></app-edit>
        </div>
    </div>
</body>