
<!-- <div>
    <select  [(ngModel)]="location.selectedCity" aria-placeholder="בחר עיר">
        <option *ngFor="let c of ListCity" [ngValue]="c">{{c.name}}</option>
      </select>
</div> -->
<agm-map [latitude]="selectedCity.lat" [longitude]="selectedCity.lng" [(zoom)]="15">

    <agm-marker *ngFor="let losty of location.ListLosty;" [latitude]="losty.lat"  [longitude]="losty.lng" [iconUrl]="losty.icon">
       <agm-info-window>
          <div>{{losty.name}}</div>
         </agm-info-window>
   </agm-marker>
  </agm-map>
   <!-- <agm-marker *ngFor="let location of location.circles;" [latitude]="location.lat"  [longitude]="location.lng" [iconUrl]="location.iconUrl">
       <agm-info-window>
           <div *ngIf="location.isStudent">
               <div>שם:{{location.student.name}}</div>
               <div>מוסד:{{location.student.academic.name}}</div>
               <div>כתובת:{{location.student.shortAddress}}</div>
               <div><button kendoButton (click)="addToRoute(location.student.id)">הוסף למסלול<span class="k-icon k-i-plus-circle"></span></button></div>
             </div>
             <div *ngIf="!location.isStudent">
                 <div>מוסד:{{location.student.academic.name}}</div>
                 <div>כתובת:{{location.student.academic.shortAddress}}</div>              
               </div>
         </agm-info-window>
   </agm-marker> -->


<!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWXwfWSCnsonvPZobjIAaUHYIYU8MQUD0`&callback=initMap"
  type="text/javascript"></script>
<div>
  <br><br>
  <label for="fcity">:עיר</label>
  <select [(ngModel)]="selectedCity" (change)="onChange($event)" aria-placeholder="בחר עיר">
    <option *ngFor="let c of ListCity" [ngValue]="c.CityName">{{c.CityName}}</option>
  </select>
</div> 

<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map> -->

<!-- <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng"  [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true">