<body>
    <div class=" d-flex justify-content-center">
        <a routerLink="/found" class="button">
            <div><h3 class="d-flex align-self-center">הוספת מציאה</h3></div>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/loss" class="button d-flex justify-content-center">
            <div><h3>הוספת אבדה</h3></div>
        </a>
    </div>
    <br><br>
    <div class=" d-flex justify-content-center">
        <a routerLink="/search" class="button">
            <div><h3>חיפוש</h3></div>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/map" class="button">
            <div><h3>מפת האבדות</h3></div>
        </a>
        <br><br>
    </div>

    <!-- <div d-flex justify-content-center>
        <button class="button" (click)="AddFound()">
            <h3>הוספת מציאה</h3>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button" (click)="AddLoss()">
            <h3>הוספת אבדה</h3>
        </button></div>
    <div class="button d-flex justify-content-center">
        <button class="button" (click)="Search()">
            <h3>חיפוש</h3>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button" (click)="ShowMap()">
            <h3>אזור אישי</h3>
        </button></div> -->
</body>