<body>
    <div class=" d-flex justify-content-center">
        <a routerLink="found" class="button">
            <div class="align-self-center"><h1>הוספת מציאה</h1></div>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="loss" class="button">
            <div><h1>הוספת אבדה</h1></div>
        </a>
    </div>
    <br><br>
    <div class=" d-flex justify-content-center">
        <a routerLink="search" class="button">
            <div><h1>חיפוש</h1></div>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="personal" class="button">
            <div><h1>אזור אישי</h1></div>
        </a>
        <br><br>
    </div>
    <!-- <button class="button" (click)="AddFound()"><h3>הוספת מציאה</h3></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button"><h3>הוספת אבדה</h3></button>
<br><br>
<button class="button"><h3>חיפוש</h3></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button"><h3>אזור אישי</h3></button> -->
</body>