<div class="title d-flex">
  <div class="container d-flex justify-content-between">
    <img src="assets/images/logo.png">
    <div class="aa">
      <h1 class="d-flex align-content-center flex-wrap">מצא לי</h1>
    </div>
  </div>

</div>

<div class="d-flex hello" *ngIf="_data.isLogin">
    <div class="d-flex  container">
        <div>שלום ל</div>
        <a routerLink="/personal-area" class="button">
          <div>איזור אישי</div>
      </a>
      </div>
    </div>
<div class="contaiener">
  <button class="btn align-self-center" onclick="document.getElementById('id01').style.display='block'"
    style="width:auto;">כניסה</button></div>
   
<div class="container">
  <div id="id01" class="modal">
    <form class="modal-content animate border needs-validation was-validated">
      <!-- action="/action_page.php" method="post" -->
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
          title="Close Modal">&times;</span>
      </div>
     
      <h1>כניסה למערכת מצא לי</h1>
      <div class="mb-3">
        <label for="email">שם משתמש<span class="text-muted">(אימייל)</span></label>
        <input type="email" class="form-control" name= "username" id="email" placeholder="you@example.com" [(ngModel)] = "person.PersonEmail" required="">
        <div class="invalid-feedback">
          נדרש אימייל
        </div>
      </div>

      <div class="mb-3">
        <label for="username">סיסמא</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <!-- <span class="input-group-text">@</span> -->
          </div>
          <input type="password" class="form-control" id="username" name= "password" placeholder="סיסמא" [(ngModel)] = "userName" required="">
          <div class="invalid-feedback" style="width: 100%;">
            חובה לאמת סיסמא!
          </div>
        </div>

        <button class="btn" (click)="Login()" routerLink = "home">כניסה</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> זכור אותי
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
          <div *ngIf="message != '' " class="raw border message">
              {{message}}
          </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button type="button" onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn">ביטול</button>
        <span class="psw">שכחת <a href="#">סיסמא?</a></span>
      </div>
  </form>
</div>
</div>
<!-- <mat-form-field>
    <mat-label></mat-label>
    <input placeholder="Just a placeholder">
  </mat-form-field> -->
<!-- <app-home [hidden]="login"></app-home> -->

<router-outlet></router-outlet>

<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>