<!DOCTYPE html>
<html>

<body>
  <!-- <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
  <div>
    <!-- <form class="formBorder" #FindForm="ngForm" action="/action_page.php" (ngSubmit)="selected(city)"> -->
    <!-- שם מאבד -->
    <label for="fname">:שם מוצא</label>
    <input id="fname" name="fname" class="form-control" required placeholder="שם מוצא האבדה"
      [(ngModel)]="find.PersonName" #fname="ngModel">
    <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
      <div *ngIf="fname.errors.required">שדה זה חובה</div>
    </div>
    <!-- תעודת זהות -->
    <label for="fid">:תעודת זהות</label>
    <input id="fid" name="fid" class="form-control" required minlength="9" maxlength="9" placeholder="תעודת זהות"
      [(ngModel)]="find.PersonID" #fid="ngModel">
    <div *ngIf="fid.invalid && (fid.dirty || fid.touched)" class="alert alert-danger">
      <div *ngIf="fid.errors.required">תעודת זהות חובה</div>
      <div *ngIf="fid.errors.minlength">מספר זהות חייב להכיל 9 ספרות</div>
      <div *ngIf="fid.errors.maxlength">מספר זהות חייב להכיל 9 ספרות</div>
    </div>
    <!-- טלפון -->
    <label for="fphone">:טלפון</label>
    <input id="fphone" name="fphone" class="form-control" required placeholder="טלפון" [(ngModel)]="find.PersonPhone"
      #fphone="ngModel">
    <div *ngIf="fphone.invalid && (fphone.dirty || fphone.touched)" class="alert alert-danger">
      <div *ngIf="fphone.errors.required">שדה זה חובה</div>
    </div>
    <!-- דוא"ל -->
    <!-- אימות מייל -->
    <label for="femail">:דוא"ל</label>
    <!-- <input id="femail" name="femail" placeholder="דואר אלקטרוני" [(ngModel)]="find.FindEmail" [ngModelOptions]="{standalone: true}"> -->
    <input id="femail" name="femail" class="form-control" required placeholder="דואר אלקטרוני"
      [(ngModel)]="find.PersonEmail" #femail="ngModel">
    <div *ngIf="femail.invalid && (femail.dirty || femail.touched)" class="alert alert-danger">
      <div *ngIf="femail.errors.required">שדה זה חובה</div>
    </div>
    <!-- <div *ngIf="Check(femail) == 1" class="alert alert-danger">
        <div *ngIf="femail.errors.required">כתובת אימייל לא תקינה</div>
      </div> -->
      
      <!-- <input type='email' name='email'/>
      <input type="submit" name="Validate" value="Validate" (click)="emailIsValid(email)"/> -->
    <!-- עיר -->
    <label for="fcity">:עיר</label>
    <select [(ngModel)]="selectedCity" (change)="onChange($event)" aria-placeholder="בחר עיר">
      <option *ngFor="let c of ListCity" [ngValue]="c.CityName">{{c.CityName}}</option>
    </select>
    <!-- <select [(ngModel)]="city" (change)="onChange($event)">
        <option *ngFor="let c of ListCity" [ngValue]="c">{{c.CityName}}</option>
      </select> -->
    <!-- <select [(ngModel)]="city" (change)="selected()">
        <option id="cityName" name="cityName" *ngFor="let c of ListCity" [ngValue]="c">
          {{c.CityName}}</option>
      </select>

      {{city | json}} -->

    <!--  -->
    <!-- <input id="fcity" name="fcity" class="form-control" required placeholder="עיר" [(ngModel)]="find.FindCityCode"
        #fcity="ngModel">
      <div *ngIf="fcity.invalid && (fcity.dirty || fcity.touched)" class="alert alert-danger">
        <div *ngIf="fcity.errors.required">שדה זה חובה</div>
      </div> -->
    <!-- רחוב -->
    <label for="faddress">:רחוב</label>
    <input id="faddress" name="faddress" class="form-control" required placeholder="רחוב"
      [(ngModel)]="find.PersonAddress" #faddress="ngModel">
    <div *ngIf="faddress.invalid && (faddress.dirty || faddress.touched)" class="alert alert-danger">
      <div *ngIf="faddress.errors.required">שדה זה חובה</div>
    </div>

    <!-- <div ng-app="myApp" ng-controller="myCtrl">

        <select ng-model="selectedName" ng-options="c for c in ListCity">
        </select>
        
        </div>
        
        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
          $scope.names = ["Emil", "Tobias", "Linus"];
        });
        </script> -->
        <input type="submit" value="שמירת פרטי מוצא" (click)="SaveUser(find)">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">שמירת פרטי מוצא</button>

        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
              <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
            </div>
        
            <div class="container">
              <label>שם משתמש ישלח לאימייל</label>
              <!-- <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
        
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
                
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me -->
              <!-- </label> -->
            </div>
    
    <!-- <input type="submit" value="שמירת פרטי מוצא" [disabled]="!FindForm.form.valid" (click)="SaveUser(find)"> -->
    </form>
  </div>
  </div>
  <!-- (click)="SaveUser(find) -->
</body>

</html>

<!-- <label>:עיר</label> -->
<!-- <input type="text" id="fcity" name="fcity" placeholder="עיר">   -->
<!-- <label *ngFor="let t of cities"><th>{{t.code}}</th> -->
<!-- <select name="city">  -->
<!-- <option>בחר עיר</option>
       <option *ngFor="let n of t.c">{{t.CityName}}</option> -->
<!-- </select>
     &nbsp;&nbsp;&nbsp; -->
<!-- </label> -->

<script>
  function ValidateEmail(inputText) {
    var mailformat = /^w+([.-]?w+)*@w+([.-]?w+)*(.w{2,3})+$/;
    if (inputText.value.match(mailformat)) {
      alert("You have entered a valid email address!");    //The pop up alert for a valid email address
      document.form1.text1.focus();
      return true;
    }
    else {
      alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
      document.form1.text1.focus();
      return false;
    }
  }
</script>