<!DOCTYPE html>
<html>
<!-- to do- add losty pass -->
<body>
    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div>
      <form action="/action_page.php">
          <label for="lname">:שם מאבד</label>
          <label>שם</label>
  
          <label for="lid">:תעודת זהות</label>
          <label>תז</label>
  
          <label for="lemail">:דוא"ל</label>
          <label>דואל</label>
  
          <label>:עיר</label>
          <input type="text" id="lcity" name="lcity" placeholder="עיר">
  
          <label>:רחוב</label>
          <input type="text" id="laddress" name="laddress" placeholder="רחוב">
  
          <label>:טלפון</label>
          <input type="text" id="lphone" name="lphone" placeholder="טלפון">
          <input type="submit" value="Submit">
      </form>
  </div>

</body>
</html>
