<body>
        <div class="d-flex justify-content-between container">
                <a routerLink="/found" class="button">
                        <div class="align-self-center">הוספת מציאה</div>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a routerLink="/loss" class="button">
                        <div>הוספת אבדה</div>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a routerLink="/search" class="button">
                        <div>חיפוש</div>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a routerLink="/personal" class="button">
                        <div>מפת האבדות</div>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
</body>