.button {
    background-color: #4d0026;
    border: none;
    color: gray;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 1000px;
  }

  body {
    height: 200px;
  }