<div>
    <select  [(ngModel)]="location.selectedCity" aria-placeholder="בחר עיר">
        <option *ngFor="let c of ListCity" [ngValue]="c">{{c.name}}</option>
      </select>
</div>
<div>
    <input type="text" value="אבני נזר 8 בני ברק ישראל">
    <input type="button" (click)="getLatlang()">
</div>
<div>{{location.selectedCity.name}} {{location.selectedCity.lat}}</div>
<agm-map [latitude]="location.selectedCity.lat" [longitude]="location.selectedCity.lng" [(zoom)]="location.zoom">

     <agm-marker *ngFor="let losty of location.ListLosty;" [latitude]="losty.lat"  [longitude]="losty.lng" [iconUrl]="losty.icon">
        <agm-info-window>
           <div>{{losty.name}}</div>
          </agm-info-window>
    </agm-marker>
    <!-- <agm-marker *ngFor="let location of location.circles;" [latitude]="location.lat"  [longitude]="location.lng" [iconUrl]="location.iconUrl">
        <agm-info-window>
            <div *ngIf="location.isStudent">
                <div>שם:{{location.student.name}}</div>
                <div>מוסד:{{location.student.academic.name}}</div>
                <div>כתובת:{{location.student.shortAddress}}</div>
                <div><button kendoButton (click)="addToRoute(location.student.id)">הוסף למסלול<span class="k-icon k-i-plus-circle"></span></button></div>
              </div>
              <div *ngIf="!location.isStudent">
                  <div>מוסד:{{location.student.academic.name}}</div>
                  <div>כתובת:{{location.student.academic.shortAddress}}</div>              
                </div>
          </agm-info-window>
    </agm-marker> -->
</agm-map>
