<!DOCTYPE html>
<html>

<body>
  <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    <form class="formBorder" #FindForm="ngForm" action="/action_page.php">
      <!-- שם מאבד -->
      <label for="fname">:שם מאבד</label>
      <input id="fname" name="fname" class="form-control" required placeholder="שם מוצא האבדה"
        [(ngModel)]="find.FindName" #fname="ngModel">
      <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
        <div *ngIf="fname.errors.required">שדה זה חובה</div>
      </div>
      <!-- תעודת זהות -->
      <label for="fid">:תעודת זהות</label>
      <input id="fid" name="fid" class="form-control" required minlength="9" maxlength="9" placeholder="תעודת זהות"
        [(ngModel)]="find.FindID" #fid="ngModel">
      <div *ngIf="fid.invalid && (fid.dirty || fid.touched)" class="alert alert-danger">
        <div *ngIf="fid.errors.required">תעודת זהות חובה</div>
        <div *ngIf="fid.errors.minlength">מספר זהות חייב להכיל 9 ספרות</div>
        <div *ngIf="fid.errors.maxlength">מספר זהות חייב להכיל 9 ספרות</div>
      </div>
      <!-- טלפון -->
      <label for="fphone">:טלפון</label>
      <input id="fphone" name="fphone" class="form-control" required placeholder="טלפון" [(ngModel)]="find.FindPhone"
        #fphone="ngModel">
      <div *ngIf="fphone.invalid && (fphone.dirty || fphone.touched)" class="alert alert-danger">
        <div *ngIf="fphone.errors.required">שדה זה חובה</div>
      </div>
      <!-- דוא"ל -->
      <!-- אימות מייל -->
      <label for="femail">:דוא"ל</label>
      <input id="femail" name="femail" class="form-control" required placeholder="דואר אלקטרוני"
        [(ngModel)]="find.FindEmail" #femail="ngModel">
      <div *ngIf="femail.invalid && (femail.dirty || femail.touched)" class="alert alert-danger">
        <div *ngIf="femail.errors.required">שדה זה חובה</div>
      </div>
      <!-- עיר -->
      <label for="fcity">:עיר</label>
      <select>
        <option *ngFor="let c of ListCity">{{c.CityName}}</option>
      </select>
      <!-- <select [(ngModel)]="city" (change)="selected()">
        <option id="cityName" name="cityName" *ngFor="let c of ListCity" [ngValue]="c">
          {{c.CityName}}</option>
      </select>

      {{city | json}} -->


      <br>
      <h3>{{city.CityCode}}</h3>
      <h3>city:{{_cityName}}</h3>
      <br>
      <!--  -->
      <!-- <input id="fcity" name="fcity" class="form-control" required placeholder="עיר" [(ngModel)]="find.FindCityCode"
        #fcity="ngModel">
      <div *ngIf="fcity.invalid && (fcity.dirty || fcity.touched)" class="alert alert-danger">
        <div *ngIf="fcity.errors.required">שדה זה חובה</div>
      </div> -->
      <!-- רחוב -->
      <label for="faddress">:רחוב</label>
      <input id="faddress" name="faddress" class="form-control" required placeholder="רחוב"
        [(ngModel)]="find.FindAddress" #faddress="ngModel">
      <div *ngIf="faddress.invalid && (faddress.dirty || faddress.touched)" class="alert alert-danger">
        <div *ngIf="faddress.errors.required">שדה זה חובה</div>
      </div>

      <input type="submit" value="שמירת פרטי מוצא" [disabled]="!FindForm.form.valid" (click)="SaveUser(find,_cityName)">
    </form>
  </div>

</body>

</html>

<!-- <label>:עיר</label> -->
<!-- <input type="text" id="fcity" name="fcity" placeholder="עיר">   -->
<!-- <label *ngFor="let t of cities"><th>{{t.code}}</th> -->
<!-- <select name="city">  -->
<!-- <option>בחר עיר</option>
       <option *ngFor="let n of t.c">{{t.CityName}}</option> -->
<!-- </select>
     &nbsp;&nbsp;&nbsp; -->
<!-- </label> -->