<br><br><br><br><br>

<body>
  <div class="formBorder">
    <label for="pid">:תעודת זהות</label>
    <input id="pid" name="pid" class="form-control" required minlength="9" maxlength="9" placeholder="תעודת זהות"
      [(ngModel)]="person.PersonID" #pid="ngModel">
    <div *ngIf="pid.invalid && (pid.dirty || pid.touched)" class="alert alert-danger">
      <div *ngIf="pid.errors.required">תעודת זהות חובה</div>
      <div *ngIf="pid.errors.minlength">מספר זהות חייב להכיל 9 ספרות</div>
      <div *ngIf="pid.errors.maxlength">מספר זהות חייב להכיל 9 ספרות</div>
    </div>
    <br><br>
    <button (click)="MyArea(person.PersonID)">כניסה לאזור האישי</button>


    <div [hidden]="isHidden">
      <!-- <div> -->
      <!-- <h2 *ngIf="founds.lengh =! 0">אבדות</h2> -->
      <!-- <br>
        <h3>אבדות</h3><br>
        
        <label *ngFor="let f of founds">
          <th>{{f.FoundDate}}</th>
          <th [style.background-color]="f.FoundColor" [style.color]="f.FoundColor">ooo</th>
          <th>{{f.Category}}</th>
          <br>
        </label>
      </div>
      <div> -->
      <!-- <h2 *ngIf="loses.lengh =! 0">מציאות</h2> -->
      <!-- <h3>מציאות</h3><br>
        <label *ngFor="let l of loses">
            <th>{{l.LoseDate}}</th>
            <th [style.background-color]="f.FoundColor" [style.color]="f.FoundColor">ooo</th>
            <th>{{l.Category}}</th>
          <br>
        </label>
      </div>
    </div> -->

      <h3>מציאות</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">תאריך מצאיה</th>
            <th scope="col">צבע המציאה</th>
            <th scope="col">קטגוריה</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of founds" style="text-align: center">
            <td>{{f.FoundDate | date:'yyyy/MM/dd'}}</td>
            <th [style.background-color]="f.FoundColor" [style.color]="f.FoundColor"></th>
            <th>{{f.Category}}</th>
            <td>
              <button (click)="delete(employee)" class="btn btn-danger btn-sm">
                <span class="oi oi-trash"></span>
              </button>
            </td>
          </tr>
          <tr *ngIf="loading">
            <td colspan="5" align="center">Fetching Employees</td>
          </tr>
        </tbody>
      </table>  

      <h3>אבדות</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">תאריך האבדה</th>
            <th scope="col">צבע האבדה</th>
            <th scope="col">קטגוריה</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of loses" style="text-align: center">
            <td>{{l.LossDate | date:'yyyy/MM/dd'}}</td>
            <th [style.background-color]="l.LossColor" [style.color]="l.LossColor"></th>
            <th>{{l.Category}}</th>
            <td>
              <button (click)="delete(employee)" class="btn btn-danger btn-sm">
                <span class="oi oi-trash"></span>
              </button>
            </td>
          </tr>
          <tr *ngIf="loading">
            <td colspan="5" align="center">Fetching Employees</td>
          </tr>
        </tbody>
      </table>
    </div>