<br><br><br>

<body>
    <br><br><br>
    <label for="Category">:מה נאבד</label>
    <br>
    <select [(ngModel)]="selectedCategory" (change)="onChange_Category($event)" aria-placeholder="בחר קטגוריה">
        <option *ngFor="let Cat of ListCategory" [ngValue]="Cat.CategoryDesc">{{Cat.CategoryDesc}}</option>
    </select>
    <br>
    <!-- <label for="Desc">:תיאור מציאה</label>
    <input type="text" id="Desc" name="Desc" placeholder="תיאור מציאה">
    <br> -->
    <label for="Color">:צבע האבדה</label><br>
    <input type="color" [(ngModel)]="selectedColor" (change)="onChange_Color($event)" id="Color" name="Color"
        style="width: 120px">
    <br><br>
    <!-- לבדוק שהתאריך קטן מהיום -->
    <label for="Date">:תאריך בו נאבד</label><br>
    <input type="date" id="Date" name="Date" value="" required max="{{currentDate | date:'dd-MM-yyyy'}}"
        (change)="onChange_Date($event)" [(ngModel)]="currentDate">

    <div>
        <button (click)="SearchLoss(selectedCategory,selectedColor, currentDate)">חיפוש</button>
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">תאריך מצאיה</th>
                            <th scope="col">צבע המציאה</th>
                            <th scope="col">קטגוריה</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let f of ListFound" style="text-align: center"> 
                            <td>{{f.FoundDate | date:'yyyy/MM/dd'}}</td>
                            <th [style.background-color]="f.FoundColor" [style.color]="f.FoundColor"></th>
                            <th>{{f.Category}}</th>
                            <td>
                              <button (click)="SelectFound(f.FindID)" class="btn btn-danger btn-sm">
                                <span class="oi oi-trash"></span>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="loading">
                            <td colspan="5" align="center">Fetching Employees</td>
                          </tr>
                        </tbody>
                      </table>
    </div>
    <!-- <button>?אבדתך לא נמצאה</button> -->