<br><br><br>

<body>
  <br><br><br>
  <label for="Category">:מה נאבד</label>
  <br>
  <select [(ngModel)]="selectedCategory" (change)="onChange_Category($event)" aria-placeholder="בחר קטגוריה">
    <option *ngFor="let Cat of _Category" [ngValue]="Cat.CategoryDesc">{{Cat.CategoryDesc}}</option>
  </select>
  <br>
  <label for="Desc">:תיאור האבדה</label>
  <br>
  <input type="text" id="Desc" name="Desc" [(ngModel)]="signs.Description" placeholder="תיאור מציאה">
  <br>
  <label for="Color">:צבע האבדה</label><br>
  <select [(ngModel)]="selectedColor" (change)="onChange_Color($event)" aria-placeholder="בחר צבע">
    <option *ngFor="let c of _Colors" [ngValue]="c.color">{{c.color}}</option>
  </select>
  <!-- <input type="color" [(ngModel)]="selectedColor" (change)="onChange_Color($event)" id="Color" name="Color"
        style="width: 120px"> -->
  <br><br>
  <!-- לבדוק שהתאריך קטן מהיום -->
  <label for="Date">:תאריך בו נאבד</label><br>
  <div>החיפוש יעשה מטווח של שבוע קודם</div>
  <!-- <input type="date" id="Date" name="Date" value="" required max="{{currentDate | date:'dd-MM-yyyy'}}"
    (change)="onChange_Date($event)" [(ngModel)]="currentDate"> -->
    <input type="date" id="Date" name="Date" value="" required 
    (change)="onChange_Date($event)" [(ngModel)]="currentDate">
  <br>
  <br>
  <label for="Remark">:הערות</label>
  <br>
  <input type="text" id="Remark" name="Remark" [(ngModel)]="signs.Remarks" placeholder="הערות">
  <br>
  <br>
  <div>

    <button (click)="SearchLoss()">חיפוש</button><br><br>
    <!-- disabled="isValidate" -->
    <div [hidden]="tableHidden">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">לפרטי מוצא</th>
            <th scope="col">קטגוריה</th>
            <th scope="col">תיאור</th>
            <th scope="col">צבע המציאה</th>
            <th scope="col">תאריך המציאה</th>
            <th scope="col">סטטוס</th>
            <th scope="col">הערות</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of _Founds" style="text-align: center">
            <button (click)="SelectFound(f)" class="btn btn-danger btn-sm" [hidden] = "buttonHidden">
              <span class="oi oi-trash">ביקוש</span>
            </button>
            <button (click)="Select()" class="btn btn-danger btn-sm" [hidden] = "!buttonHidden"><span class="oi oi-trash">פרטי מוצא</span>
            </button>
            <td>{{f.Category}}</td>
            <td>{{f.FoundDesc}}</td>
            <td>{{f.color}}</td>
            <td>{{f.FoundDate | date:'yyyy/MM/dd'}}</td>
            <td>{{f.Status}}</td>
            <td>{{f.Remarks}}</td>
            <!-- <input [(ngModel)] = "f.FoundCode"> -->
            <!-- [style.background-color]="f.FoundColor" [style.color]="f.FoundColor" -->
            <td>

            </td>
          </tr>
          <tr *ngIf="loading">
            <td colspan="5" align="center">================================</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
<!-- <button>?אבדתך לא נמצאה</button> -->