<!DOCTYPE html>
<html>
<!-- to do- add found pass -->
<body>
    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="formBorder">
      <form action="/action_page.php">
          <label for="fname">:שם מוצא</label>
          <label>שם</label>
          <br>
          <label for="fid">:תעודת זהות</label>
          <label>תז</label>
  
          <label for="femail">:דוא"ל</label>
          <label>דואל</label>
  
          <label>:עיר</label>
          <input type="text" id="fcity" name="fcity" placeholder="עיר">
  
          <label>:רחוב</label>
          <input type="text" id="faddress" name="faddress" placeholder="רחוב">
  
          <label>:טלפון</label>
          <input type="text" id="fphone" name="fphone" placeholder="טלפון">
          <input type="submit" (click)="CheckEmail()" value="Submit">
      </form>
  </div>

</body>
</html>


